body {
    box-sizing: border-box; /*Para hacer que nuestros bordes y margen este dentro de mi caja*/
    color: #303030;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

/*clases reutilizables*/
.text-uppercase {
    text-transform: uppercase; /*transforma el texto en mayuscula*/
}

/*clases especificas*/
li a {    
    color: inherit; /*hereda el color del padre, en este caso hereda el color del body*/
    text-decoration: none;
}

ul li {
    display: inline; /*inline-block es para darle un altura. Si se utiliza el inline, no te permite usar un margen o padding*/
    list-style: none;
    margin: 10px;
    
}

.logo-header {
    width: 200px;
}
/*
nav {
    float: right;
    padding: 20px;
}
*/

/* otra fora de colocar tu menu al lado derecho con position*/
header {
    position: relative;
}


nav {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%); /*es una manera para que mi nav este centrado*/
}

.box-header {
    display: inline-block; /*al colocar esto, mis cajas se alinean*/
}

.logo-square {
    width: 100px;
}
/*
.logo-square img {
    width:  100%;
}
*/
section {
    text-align: center;
}

div {
    box-sizing: border-box;
    display: inline-block;
    padding: 5px;
    width: 30%;
}

[class^="icon-"], [class*="icon-"] {
    font-size: 40px;
    transition: 5s;
  }
  
  li:hover, [class^="icon-"]:hover, [class*="icon-"]:hover {
    color: #db964a;
  }



footer {
    background-color: #303030;
    color: white;
    padding: 5px;
    text-align: center;
    
}

.btn {
    background-color: #db964a;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-family: inherit;
    padding: 10px;
  }

.btn:hover {
    background-color: #644721;
  }